body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrapper div {
  height: 14vh;
  width: 13vw;
  border: 1px solid gray;
}

.wrapper > ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.wrapper > ul li {
  width: 13vw;
  text-align: center;
}

.wrapper p {
  margin: 0;
  background: lightblue;
  text-align: center;
  padding: 3px;
}

.selection {
  display: flex;
  margin-left: 4.5%;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-body {
  width: 90%;
  max-width: 600px;
  padding: 30px;
  background: white;
  z-index: 1;
  max-height: 60%;
  overflow-y: auto;
}

.modal-body h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

form button {
  padding: 10px 40px;
  background: lightseagreen;
  color: white;
  border: none;
  display: table;
  margin: 0 auto;
}

.appointment-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: calc(100% - 24px);
  overflow: auto;
}

.appointment-list li {
  line-height: 30px;
  background-color: lightcyan;
  margin-top: 3px;
  text-align: center;
  cursor: pointer;
}

.appointment-details {
  list-style: none;
  display: table;
  padding: 0;
  margin: 0 auto;
}

.appointment-details li {
  padding: 10px 0;
  font-size: 18px;
  width: 200px;
}

.appointment-details li span {
  width: 50%;
  display: inline-block;
}
